 <div class="row">
  <div class="col-md-6 col-lg-3">
      <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
          <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                  <div class="widget-title  " style="color: black;">Total Employés</div>
                  <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                      <div class="widget-chart-flex align-items-center">
                          <div class="opacity-8" style="color: black;">
                              {{employers}}
                              <div style="color: black;"> Employés</div>
                              <small class="opacity-5 "></small>
                          </div>
                          <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <i class="fas fa-user-tie fa-2x"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
        <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content">
                <div class="widget-title  " style="color: black;">Contrats</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                    <div class="widget-chart-flex align-items-center">
                        <div class="opacity-8" style="color: black;">
                            {{contrats}}
                            <div style="color: black;"> contrats</div>
                            <small class="opacity-5 "></small>
                        </div>
                        <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                          <i class="fa-solid fa-folder-open fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   <div class="col-md-6 col-lg-3">
      <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-secondary card">
          <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content">
                  <div class="widget-title  " style="color: black;">Formations</div>
                  <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                      <div class="widget-chart-flex align-items-center">
                          <div class="opacity-8" style="color: black;">
                              {{formations}}
                              <div style="color: black;"> Formations</div>
                              <small class="opacity-5 "></small>
                          </div>
                          <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                            <i class="fa-solid fa-sitemap fa-2x"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-sucess border-danger card">
        <div class="widget-chat-wrapper-outer">
            <div class="widget-chart-content">
                <div class="widget-title  " style="color: black;">Employés en congé</div>
                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                    <div class="widget-chart-flex align-items-center">
                        <div class="opacity-8" style="color: black;">
                            {{congers}}
                            <div style="color: black;"> Employés </div>
                            <small class="opacity-5 "></small>
                        </div>
                        <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                          <i class="fa-solid fa-rocket fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<section>

  
</section>
