<div class="app-header header-shadow">
  <div class="app-header__logo">
      <div class="logo-src">  <img src="assets\logo.png" alt="" style="margin-top: -2rem; height: 4.5rem; width: 130px;">
        <h5><b> AURORE RH </b> </h5> </div>

      <div class="header__pane ml-auto">
          <div>
              <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
              </button>
          </div>
      </div>
  </div>
  <div class="app-header__mobile-menu">
      <div>
          <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav is-active">
              <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
              </span>
          </button>
      </div>
  </div>
  <div class="app-header__menu">
      <span>
          <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
              <span class="btn-icon-wrapper">
                  <i class="fa fa-ellipsis-v fa-w-6"></i>
              </span>
          </button>
      </span>
  </div>
  <div class="app-header__content">
      <!-- <div class="app-header-left">
          <div class="search-wrapper">
              <div class="input-holder">
                  <input type="text" class="search-input" placeholder="Type to search">
                  <button class="search-icon"><span></span></button>
              </div>
              <button class="close"></button>
          </div>

          <ul class="header-megamenu nav">

          </ul>        </div> -->
      <div class="app-header-right" style="margin-right: 3rem;">
          <div class="header-dots">



              <!-- <div class="dropdown">
                  <button type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" class="p-0 btn btn-link dd-chart-btn">
                      <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                          <span class="icon-wrapper-bg bg-success"></span>
                          <i class="fas fa-users"></i>
                      </span>
                  </button>
                  <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right">
                      <div class="dropdown-menu-header">
                          <div class="dropdown-menu-header-inner bg-premium-dark">
                              <div class="menu-header-image" style="background-image: url('assets/images/dropdown-header/abstract4.jpg');"></div>
                              <div class="menu-header-content text-white">
                                  <h5 class="menu-header-title">Users Online
                                  </h5>
                                  <h6 class="menu-header-subtitle">Recent Account Activity Overview
                                  </h6>
                              </div>
                          </div>
                      </div>
                      <div class="widget-chart">
                          <div class="widget-chart-content">
                              <div class="icon-wrapper rounded-circle">
                                  <div class="icon-wrapper-bg opacity-9 bg-focus">
                                  </div>
                                  <i class="fas fa-user text-white">
                                  </i>
                              </div>
                              <div class="widget-numbers">
                                  <span>4</span>
                              </div>
                              <div class="widget-subheading pt-2">
                                  Profile views since last login
                              </div>
                              <div class="widget-description text-danger">
                                  <span class="pr-1">
                                      <span>176%</span>
                                  </span>
                                  <i class="fa fa-arrow-left"></i>
                              </div>
                          </div>
                          <div class="widget-chart-wrapper">
                              <div id="dashboard-sparkline-carousel-3-pop"></div>
                          </div>
                      </div>
                      <ul class="nav flex-column">
                          <li class="nav-item-divider mt-0 nav-item">
                          </li>
                          <li class="nav-item-btn text-center nav-item">
                              <button class="btn-shine btn-wide btn-pill btn btn-warning btn-sm">
                                  <i class="fa fa-cog fa-spin mr-2">
                                  </i>
                                  View Details
                              </button>
                          </li>
                      </ul>
                  </div>
              </div> -->
          </div>
          <!-- <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                <span class="icon-wrapper-bg bg-danger"></span>
                <i class="fas fa-bell"></i>
                <span class="badge badge-dot badge-dot-sm badge-danger">Notifications</span>
            </span>
        </button> -->

          <div class="header-btn-lg pr-0">
              <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                      <div class="widget-content-left">
                          <div class="btn-group" >

                              <button data-toggle="dropdown" class="mb-2 mr-2 btn  btn-pill " style="border-radius: 15px; background-color: rgb(43, 113, 252); color: white; ">
                                <a  aria-haspopup="true" aria-expanded="false"   class="rounded-circle">
                                  {{currentUser?.username[0]}}
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                </a>
                              </button>
                              <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(60px, 44px, 0px);">
                                  <div class="dropdown-menu-header">
                                      <div class="dropdown-menu-header-inner bg-info">
                                          <div class="menu-header-image opacity-2" style="background-image: url('assets/images/dropdown-header/city3.jpg');"></div>
                                          <div class="menu-header-content text-left">
                                              <div class="widget-content p-0">
                                                  <div class="widget-content-wrapper">
                                                      <div class="widget-content-left mr-3">
                                                        <button  class="mb-2 mr-2 btn  btn-pill btn-primary"  style="border-radius: 15px;"> <span>{{currentUser?.username[0]}}</span> </button>

                                                      </div>
                                                      <div class="widget-content-left">
                                                          <div class="widget-heading">{{currentUser?.username}}
                                                          </div>
                                                          <div class="widget-subheading opacity-8">
                                                          </div>
                                                      </div>
                                                      <div class="widget-content-right mr-2">
                                                          <a href="" class="btn-pill btn-shadow btn-shine btn btn-focus" (click)="signOut()">Se déconnecter </a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                <div style="margin-left: 1rem;" > numero: 694722942  </div>
                                <div style="margin-left: 1rem;" > email: yann.dokoula@2025.ucac-icam.com </div>
                                  <ul class="nav flex-column">
                                      <li class="nav-item-divider mb-0 nav-item"></li>
                                  </ul>

                              </div>
                          </div>
                      </div>
                      <div class="widget-content-left  ml-3 header-user-info">
                          <div class="widget-heading">
                            {{currentUser?.username}}
                          </div>
                          <div class="widget-subheading">
                         Admin
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <!-- <div class="header-btn-lg">
              <button type="button" class="hamburger hamburger--elastic open-right-drawer">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
              </button>
          </div> -->
        </div>
  </div>
</div>
