<section style="width:91%">
<h3 style="color: rgb(43, 113, 252);"><b>Notes Professionnelles</b> </h3>
<div class="" >
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a  routerLink="listing-employer" routerLinkActive="router-link-active"  >Notes Professionnelles</a></li>
      <li class="breadcrumb-item"><a  style="color: rgb(43, 113, 252);">Liste Notes Professionnelles </a></li>
    </ol>
  </nav>
  <button style="float: right;" (click)="openDialog(null)" class="mb-2 mr-2 btn-icon btn btn-success">   <i class="fa-solid fa-user"></i>
    Ajouter </button>
</div>
</section>

<div>
  <label style="margin-top:1.2rem ;margin-top: 3rem;"> Montrer
    <select (change)="onChange($event)" name="example_length" aria-controls="example" style="width: 5rem;"
      class="custom-select custom-select-sm form-control form-control-sm">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select> Notes </label>

    <label style="float: right; margin-top: 2rem; margin-right: -5rem; "  >
      Recherche:
      <input  (keyup)="search($event)" type="search" class="form-control form-control-sm" placeholder="" aria-controls="example">
    </label>
  </div>
  <br> <br>

<div class="card" style="height:16rem" *ngFor="let items of notesProfessionnelles | paginate:
{ id: 'items', currentPage: page + 1,  itemsPerPage: size, totalItems: totalElements }; let i=index" >
  <div class="row ">
    <div class="col-md-7 px-3">
      <div class="card-block px-6">
        <div class="btn-group " style="float:right; height:1rem ">
          <button type="button"  aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link"><i class="fas fa-ellipsis-h"></i></button>
          <div style="background: none; border: none;" class="dropdown-menu-right  dropdown-menu" ><h6 tabindex="-1" style="margin-left:4rem" class="dropdown-header">Actions</h6>
            <!-- <button style="margin-left:3rem" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-primary">
              <i class="fa-solid fa-eye"></i>
            </button> -->
            <button style="margin-left:4rem" (click)="openDialog(items)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-warning">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button (click)="deleteNP(items)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-danger">
              <i class="fa-solid fa-trash"></i>
            </button>
              <div class="p-3 text-right">
              </div>
          </div>
      </div>
        <h4 class="card-title">{{items?.theme}} </h4>

        <p class="card-text">
          Mise en ligne le {{items?.date_publication | date: 'dd/MM/yy, à HH:mm' }}
        </p>
        <p class="card-text"> {{items?.description}}</p>
        <br>
      </div>
    </div>
    <div class="col-md-5">
          <div >
            <img style ="width:100% ; height: 14rem;" src="https://images.pexels.com/photos/6392906/pexels-photo-6392906.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
          </div>
    </div>
  </div>
</div>
<pagination-controls class="pagination" style="float: right;" id="items" (pageChange)="onChangePageEmployer($event)"
    [maxSize]="10" [directionLinks]="true"
    [autoHide]="true" [responsive]="true" previousLabel="Précédent" nextLabel="Suivant" >
</pagination-controls>
<br>

