<div class="row">

  <h3 style="margin-left: 3rem;color: rgb(43, 113, 252);"><b>Liste des Stagiaires</b> </h3>
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a   >Stagiaires</a></li>
        <li class="breadcrumb-item"><a  style="color: rgb(43, 113, 252);">Liste des Stagiaires </a></li>
      </ol>
    </nav>
  </div>
  <hr>
    <div class="col-sm-12">
        <button style="float: right;" (click)="openDialog(null)" class="mb-2 mr-2 btn-icon btn btn-success">   <i class="fa-solid fa-user"></i>
          Ajouter </button>
          <br>  <br>
          <div >
            <label style="margin-top:1.2rem ;"> Montrer
               <select (change)="onChange($event)" name="example_length" aria-controls="example" style="width: 5rem;" class="custom-select custom-select-sm form-control form-control-sm">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> entrées</label>

              <label style="float: right;"> Recherche:
                <input type="search" (keyup)="search($event)" class="form-control form-control-sm" placeholder="" aria-controls="example">
              </label>
            </div>
      <table style="width: 100%; background-color: white;" id="" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
  <thead>
  <tr role="row">
    <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 72.2px;" aria-label="Position: activate to sort column ascending">Matricule Stagiaire</th>
    <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 52.2px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nom & Prénom</th>
    <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 72.2px;" aria-label="Position: activate to sort column ascending">Matricule</th>
    <!-- <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 72.2px;" aria-label="Position: activate to sort column ascending">Type de stage</th> -->
    <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 44.2px;" aria-label="Office: activate to sort column ascending">Département</th>
    <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 27.2px;" aria-label="Age: activate to sort column ascending">Ecole</th>
    <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px ;" aria-label="Start date: activate to sort column ascending">Date de debut </th>
    <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 16%;" aria-label="Salary: activate to sort column ascending">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr role="row" class="odd" *ngFor="let stagiaire of stagiaires  | paginate:
  { id: 'stagiaire', currentPage: page + 1,  itemsPerPage: size, totalItems: totalElements }; let i=index ">
      <td>{{stagiaire?.codeStage}}</td>
      <td tabindex="0" class="sorting_1">{{stagiaire?.nom}} {{stagiaire?.prenom}}</td>
      <td>{{stagiaire?.matricule}}</td>
      <!-- <td>{{stagiaire?.statut_matrimoniale}}</td> -->
      <td>{{stagiaire?.departement}}</td>
      <td>{{stagiaire?.ecole}}</td>
      <td>{{stagiaire?.date_debut | date: 'dd-MM-yyy'}}</td>
      <td>
        <button (click)="goToViewId(stagiaire)"  routerLink="/affich-employer" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-primary">
          <i class="fa-solid fa-eye"></i>
        </button>
        <button (click)="openDialog(stagiaire)" routerLinkActive="router-link-active"  class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-warning">
          <i class="fa-solid fa-pen"></i>
        </button>
        <button (click)="deleteStagiaire(stagiaire)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-danger">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
  </tr>
<!-- </tbody>
  <tfoot  >
  <tr>
    <th rowspan="1" colspan="1">Nom</th>
    <th rowspan="1" colspan="1">Matricule</th>
    <th rowspan="1" colspan="1">poste</th>
    <th rowspan="1" colspan="1">type de contrat</th>
    <th rowspan="1" colspan="1">date de debut</th>
    <th rowspan="1" colspan="1">Action</th>
  </tr>
  </tfoot> -->
</table>
<pagination-controls class="pagination" style="float: right;" id="stagiaire" (pageChange)="onChangePageEmployer($event)"
    [maxSize]="10" [directionLinks]="true"
    [autoHide]="true" [responsive]="true" previousLabel="Précédent" nextLabel="Suivant" >
</pagination-controls>
</div>
</div>
<div class="row">
</div>


