<div class="row">
  <h3 style="margin-left: 3rem;color: blue;"><b>Liste des Congés et permissions</b> </h3>
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  >Congés et permissions</a></li>
        <li class="breadcrumb-item"><a (click)="goTi()" style="color: blue;">Liste des Congés et permissions </a></li>
      </ol>
    </nav>
  </div>
  <hr>
    <div class="col-sm-12">
        <button style="float: right; " (click)="openDialog(null)" class="mb-2 mr-2 btn-icon btn btn-success">  <i class="fa-solid fa-plus"></i>
          Demander  </button>
          <br>  <br>
          <div >
          <label style="margin-top:1.2rem ;"> Montrer
             <select (change)="onChange($event)" name="example_length" aria-controls="example" style="width: 5rem;" class="custom-select custom-select-sm form-control form-control-sm">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select> entrées</label>

            <label style="float: right;" > Recherche:
              <input (keyup)="search($event)" type="search" class="form-control form-control-sm" placeholder="" aria-controls="example">
            </label>
          </div>
      <table style="width: 100%; background-color: white;" id="" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">

  <thead>
  <tr role="row">
    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 52.2px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nom</th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 72.2px;" aria-label="Position: activate to sort column ascending">Type de conger ou permission</th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 44.2px;" aria-label="Office: activate to sort column ascending">Nombres de jours</th>
    <!-- <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 27.2px;" aria-label="Age: activate to sort column ascending">validation</th> -->
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px ;" aria-label="Salary: activate to sort column ascending"> Statut</th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 16%;" aria-label="Salary: activate to sort column ascending">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr role="row" class="odd" *ngFor="let conger of congers   | paginate:
  { id: 'conger', currentPage: page + 1,  itemsPerPage: size, totalItems: totalElements }; let i=index  ">
      <td tabindex="0" class="sorting_1">{{conger?.employerResponseDTO?.nom}}</td>
      <td>{{conger?.type_conger}}</td>
      <td>{{conger?.jours}} jours</td>
      <td style="text-align: center;">
        <div style="display: inline-block; vertical-align: middle;" [ngClass]="{
        'valider': conger?.statut == 'EN COURS',
        'suspendu': conger?.statut == 'SUSPENDU',
        'examen': conger?.statut == 'TERMINER'
      }" >{{conger?.statut}}</div></td>
      <td>
        <button (click)="openDialogView(conger)"  class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-primary">
          <i class="fa-solid fa-eye"></i>
        </button>
        <button  (click)="openDialog(conger)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-warning">
          <i class="fa-solid fa-pen"></i>
        </button>
        <button (click)="deleteConger(conger)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-danger">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
  </tr>
</tbody>
  <!-- <tfoot  >
  <tr >
    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 52.2px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nom</th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 72.2px;" aria-label="Position: activate to sort column ascending">Type de conger ou permission</th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 44.2px;" aria-label="Office: activate to sort column ascending">Nombres de jours</th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px ;" aria-label="Salary: activate to sort column ascending"> Statut</th>
    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 16%;" aria-label="Salary: activate to sort column ascending">Action</th>
  </tr>
  </tfoot> -->
</table>

<pagination-controls class="pagination" style="float: right;" id="conger" (pageChange)="onChangePageEmployer($event)"
    [maxSize]="10" [directionLinks]="true"
    [autoHide]="true" [responsive]="true" previousLabel="Précédent" nextLabel="Suivant" >
</pagination-controls>

</div>
</div>
<div class="row">
</div>


