<h2 mat-dialog-title  style="font-size: 200%; color: rgb(125, 125, 238); "> Edition d'un congé ou une
  permission</h2>
<hr>
<div class="mat-dialog-content" [formGroup]="formConger">
  <div class="main-card ">
    <div class="form-row">
      <div class="col-md-12">
        <div class="position-relative form-group ">
          <label for=""> Nom & Prénom<span style="color: red;">*</span></label>
          <select name="select" id="exampleSelect" class="" formControlName="id_Employer"
            style="width: 100%; height: 2.2rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
            <option value={{item?.id}} *ngFor="let item of employers"> {{item?.nom}} {{item?.prenom}}</option>
          </select>
          <!-- <select name="" formControlName="id_Employer" id=""> <option value="{{currentUser?.username}}">{{currentUser?.username}}</option></select> -->
          <span
            *ngIf=" (submitted || formConger.controls.id_Employer.touched) && formConger.controls.id_Employer.errors "
            style="color:red">le nom l'employé est requis </span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="position-relative form-group ">
          <label class="">Type<span style="color: red;">*</span></label>
          <select name="select" placeholder="" id="exampleSelect" type="text" class="" formControlName="type_conger"
            style="width: 100%; height: 2.4rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
            <option value=""></option>
            <option value="congés payés annuels">congés payés annuels</option>
            <option value="Réduction du temps de travail (RTT)">Réduction du temps de travail (RTT)</option>
            <option value="Congé maternité">Congé maternité</option>
            <option value="Congé de paternité et d'accueil de l'enfant">Congé de paternité et d'accueil de l'enfant
            </option>
            <option value="Congé en cas d'hospitalisation immédiate de l'enfant après sa naissance"> Congé en cas
              d'hospitalisation immédiate de l'enfant après sa naissance</option>
            <option value="Congé d'adoption">Congé d'adoption </option>
            <option value="Autorisation d'absence pour garde d'enfant ou enfant malade">Autorisation d'absence pour
              garde d'enfant ou enfant malade</option>
            <option value="Décès d'un proche">Décès d'un proche</option>
            <option value="Permission">Permision</option>
          </select>
          <span
            *ngIf=" (submitted || formConger.controls.type_conger.touched) && formConger.controls.type_conger.errors "
            style="color:red">le type de la demande est requise </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="position-relative form-group ">
          <label class="">Jours <span style="color: red;">*</span> </label>
          <input type="number" class="form-control" formControlName="jours">
          <!-- <span *ngIf=" (submitted || formConger.controls.jours.touched) && formConger.controls.jours.errors "   style="color:red">  cette date est requise  </span> -->
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="position-relative form-group ">
          <label class="" for="">Jour de debut <span style="color: red;">*</span> </label>
          <input type="date" class="form-control" formControlName="date_debut">
          <span *ngIf=" (submitted || formConger.controls.date_debut.touched) && formConger.controls.date_debut.errors "
            style="color:red"> cette date est requise </span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <label class="" for="">Jour de fin <span style="color: red;">*</span></label>
          <input type="date" class="form-control" placeholder="" formControlName="date_fin"
            >
          <span *ngIf=" (submitted || formConger.controls.date_fin.touched) && formConger.controls.date_fin.errors "
            style="color:red"> cette date est requise </span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <label class="" for="">Date de reprise <span style="color: red;">*</span></label>
          <input type="date" class="form-control" placeholder="" formControlName="date_reprise">
          <span
            *ngIf=" (submitted || formConger.controls.date_reprise.touched) && formConger.controls.date_reprise.errors "
            style="color:red"> cette date est requise </span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12">
        <div class="">
          <label for="textarea">Description<span style="color: red;">*</span>
          </label>
          <textarea id="myTextarea" maxlength="200" appCharacterCounter rows="1" rows="1"
            class="form-control autosize-input" style="height: 47px;" formControlName="description"></textarea>
          <span
            *ngIf=" (submitted || formConger.controls.description.touched) && formConger.controls.description.errors "
            style="color:red"> la description est requise</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <!-- <div class="col-md-6">
                <div  class="">
                  <label>
                    validation
                  </label>
                  <select  class="form-control" formControlName="validation" >
                    <option value=""></option>
                    <option  value="VALIDER">Valider</option>
                    <option  value="EN EXAMEN">En Examen</option>
                    <option value="REFUSER">Réfuser</option>
                  </select>
                </div>
          </div> -->
      <!-- <div class="col-md-12">
        <div class="">
          <label>
            Statut
          </label>
          <select class="form-control" formControlName="statut">
            <option value=""></option>
            <option value="EN COURS">En cours</option>
            <option value="SUSPENDU">suspendu</option>
            <option value="TERMINER">Terminer</option>
          </select>
        </div>
      </div> -->
    </div>
    <div *ngIf="isLoading" class="body-block-example-2 d-none" style="cursor: default;">
      <div class="loader">
        <div class="ball-pulse-sync">
          <div class="bg-success"></div>
          <div class="bg-success"></div>
          <div class="bg-success"></div>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>


</div>
<mat-dialog-actions align="end">
  <button mat-dialog-close class="mb-2 mr-2 btn-icon btn btn-success" (click)=" addConger()"
    class="btn btn-success mr-2 mb-2 block-page-btn-example-2">
    Enregistrement
  </button>
  <button class="mb-2 mr-2 btn-icon btn btn-danger" mat-dialog-close>Fermer</button>
</mat-dialog-actions>
