
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a >Contrats</a></li>
      <li class="breadcrumb-item"><a  style="color: rgb(0, 106, 255);">Liste des Contrats </a></li>
      <li class="breadcrumb-item"><a  style="color: rgb(43, 113, 252);">Details du contrat de {{id?.employerResponseDTO?.nom}}</a></li>
    </ol>
  </nav>
</div>
<div class="main-card mb-3 card" style="height: 55rem;">
  <div class="card-body">
    <div ><h1 class="card-title" style="font-size: 200%; color: rgb(81, 81, 230); "> Details du contrat de {{id?.employerResponseDTO?.nom}}</h1></div>
    <hr>
    <br>

      <form class="" >
          <div class="form-row">
              <div class="col-md-12">
                  <div class="position-relative form-group">
                    <label  class="select">
                     <b>Nom & Prénom</b>
                    </label>
                    <input name="" disabled value="{{id?.employerResponseDTO?.nom}} {{id?.employerResponseDTO?.prenom}}" id="" placeholder="" type="" class="form-control" >

                  </div>
              </div>

          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  type de contrat
                </label>
                <input name="" disabled value="{{id?.type_contrat}}" id="" placeholder="" type="" class="form-control" >
              </div>
          </div>

            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="country" class="">
                    lieu de recrutement
                  </label>
                  <input name="" disabled  value="{{id?.lieu_recrutememnt}}" id="" placeholder="" type="" class="form-control" >

                </div>
            </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="" class="">
              date d'embauche
            </label>
            <input name="" disabled value="{{id?.date_embauche  | date: 'yyyy-MM-dd'}}" id="" placeholder="" type="date" class="form-control" >

          </div>
          </div>
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  Periode d'essaie
                </label>
                <input name="" disabled value="{{id?.periode_essaie}}" id="" placeholder="" type="text" class="form-control" >

              </div>

          </div>
      </div>

          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label class="">
                    debut de la periode d'essaie
                  </label>
                  <input type="date" disabled value="{{id?.debut_periode_essaie | date: 'yyyy-MM-dd'}}" class="form-control"  placeholder="" >

                </div>

            </div>

            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="" class="">
                    fin de la periode d'essaie
                  </label>
                  <input name="" id="" disabled value="{{id?.fin_periode_essaie  | date: 'yyyy-MM-dd'}}" type="date" class="form-control" placeholder="" >

                </div>

            </div>
        </div>

          <div class="form-row">

            <div class="col-md-6">
              <div class="position-relative form-group">
                <label  class="">
                  poste
                </label>
                <input name="address" disabled value="{{id?.poste}}" id="exampleAddress" placeholder="" type="text" class="form-control">

              </div>
              </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="examplePassword11" class="">
                    lieu de travail
                  </label>
                  <input name="" disabled value="{{id?.lieu_travail}}" id="" placeholder="" type="text" class="form-control" >

                </div>
            </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                 Congé Annuel
                </label>
                <input name="" id="" disabled value="{{id?.congerAnnuel}} Jours" placeholder="" type="" class="form-control" >

              </div>
          </div>
        <div class="col-md-3">
            <div class="position-relative form-group">
              <label for="" class="">
               jours pris au cour de l'année
              </label>
              <input name="" id="" disabled value="{{id?.jours_de_conges_pris}} jours" placeholder="" type="" class="form-control" >

            </div>
        </div>

        <div class="col-md-3">
          <div class="position-relative form-group">
            <label for="" class="">
             Congé Annuel restant
            </label>
            <input name="" id="conge_restant" disabled value="{{id?.congerAnnuel - id?.jours_de_conges_pris}} jours" placeholder="" type="" class="form-control" >
          </div>
      </div>
    </div>

    <script>
      var congeAnnuel = "{{id?.congerAnnuel}}"
      var joursPris = "{{id?.jours_de_conges_pris}}"

      var congeRestant = congeAnnuel - joursPris;

      document.getElementById("conge_restant").value = congeRestant + " jours";
    </script>

         <div class="form-row">
            <div class="col-md-12">
                <div class="position-relative form-group">
                  <label for="" class="">
                    Salaire brut
                  </label>
                  <input name="" id="" disabled value="{{id?.salaire_brut}} FCFA" placeholder="" type="" class="form-control" >

                </div>
            </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  Liste des Diplomes
                </label>
                <input name="" id="" disabled value="{{id?.liste_diplo}}" placeholder="" type="" class="form-control" >

              </div>
          </div>

          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="" class="">
                Documents liés
              </label>
              <input name="" id="" disabled value="{{id?.document}}" placeholder="" type="" class="form-control" >
              <button style="border:none; float:right" (click)="imprimerDoc(id)" >Telecharger le document </button>
            </div>
        </div>
      </div>




<div *ngIf="" class="body-block-example-2 d-none" style="cursor: default;">
<div class="loader">
<div class="ball-pulse-sync">
<div class="bg-success"></div>
<div class="bg-success"></div>
<div class="bg-success"></div>
</div>
</div>
</div>
      </form>

  </div>
</div>
