<div class="row">

  <h3 style="margin-left: 3rem;color: rgb(43, 113, 252);"><b>Liste des Employés archivés</b> </h3>
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a >Employés</a>
        </li>
        <li class="breadcrumb-item"><a routerLink="listing-employer" routerLinkActive="router-link-active" (click)="goTi()" style="color: rgb(43, 113, 252);">Liste des employés  </a></li>
        <li class="breadcrumb-item"><a  style="color: rgb(43, 113, 252);">Liste des Employés archivés </a></li>
      </ol>
    </nav>
  </div>
  <hr>
  <div class="col-sm-12">

    <br> <br>
    <div>
      <label style="margin-top:1.2rem ;"> Montrer
        <select (change)="onChangeSize($event)" name="example_length" aria-controls="example" style="width: 5rem;"
          class="custom-select custom-select-sm form-control form-control-sm">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select> entrées</label>

      <label style="float: right;"> Recherche:
        <input (keyup)="search($event)" type="search" class="form-control" placeholder="" aria-controls="example">
      </label>
    </div>
    <table style="width: 100%; background-color: white; " id=""
      class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid"
      aria-describedby="example_info">
      <thead>
        <tr role="row">
          <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 52.2px;"
            aria-sort="ascending" aria-label="Name: activate to sort column descending">Matricule employé</th>
          <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 52.2px;"
            aria-sort="ascending" aria-label="Name: activate to sort column descending">Nom & Prénom</th>
          <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 72.2px;"
            aria-label="Position: activate to sort column ascending">Matricule CNI</th>
          <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 44.2px;"
            aria-label="Office: activate to sort column ascending">poste</th>
          <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 27.2px;"
            aria-label="Age: activate to sort column ascending">Addresse</th>
          <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px ;"
            aria-label="Start date: activate to sort column ascending">Date de debut </th>
          <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px ;"
            aria-label="Start date: activate to sort column ascending">Statut </th>
          <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 16%;"
            aria-label="Salary: activate to sort column ascending">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr role="row" class="odd" *ngFor="let employer of employers | paginate:
        { id: 'employer', currentPage: page + 1,  itemsPerPage: size, totalItems: totalElements }; let i=index "
         >
          <td>{{employer?.codeEmployer}}</td>
          <td tabindex="0" class="sorting_1">{{employer?.nom}} {{employer?.prenom}}</td>
          <td>{{employer?.matricule}}</td>
          <td>{{employer?.poste}}</td>
          <td>{{employer?.adresse}}</td>
          <td>{{employer?.date_debut | date: 'dd-MM-yyy'}}</td>
          <td style="text-align: center;">
            <div style="display: inline-block; vertical-align: middle;" [ngClass]="{
          'Actif': employer?.statut == 'ACTIF',
          'Inactif': employer?.statut == 'INACTIF'
        }">{{employer?.statut}}</div>
          </td>
          <td>
            <button (click)="goToViewId(employer)" routerLink="/affich-employer"
              class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-primary">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button (click)="recupId(employer)" routerLinkActive="router-link-active"
              class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-warning">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button (click)="statutChange(employer)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-secondary">
              <i class="fa-solid fa-box-archive"></i>
            </button>
            <button (click)="deleteEmployer(employer)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-danger">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
    </table>

    <pagination-controls class="pagination" style="float: right;" id="employer"
      (pageChange)="onChangePageEmployer($event)" [maxSize]="10" [directionLinks]="true" [autoHide]="true"
      [responsive]="true" previousLabel="Précédent" nextLabel="Suivant">
    </pagination-controls>



  </div>
</div>
<div class="row">
</div>
