<div class="container-fluid" >
  <nav aria-label="breadcrumb" style="margin-right: 2rem; width: 91%;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a  >Employés</a></li>
      <li class="breadcrumb-item"><a routerLink="listing-employer" routerLinkActive="router-link-active" style="color:rgb(43, 113, 252);" (click)="goTi()" >Liste des employés </a></li>
      <li class="breadcrumb-item"><a routerLink="listing-employer" routerLinkActive="router-link-active" style="color: rgb(43, 113, 252);">Enregistrement </a></li>
    </ol>
  </nav>
</div>
<div class="main-card mb-3 card" style="height: 90%;">
  <div class="card-body"  >
    <div ><h1 class="" style="font-size: 200%; color: rgb(81, 81, 230); " > <b>Enregistrement des informations  d'un employé</b> </h1></div>

    <br>
    <h3 class="card-title">Informations Personnelles</h3>
      <form class="" [formGroup]="formEmployer">
          <div class="form-row">
              <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label for="" class="">
                      Nom <span style="color: red;">*</span>
                    </label>
                    <input name="" id="" placeholder="écrire le nom" type="" class="form-control" formControlName="nom"></div>
                    <span *ngIf=" (submitted || formEmployer.controls.nom.touched) && formEmployer.controls.nom.errors "   style="color:red">  le nom est requis  </span>
              </div>
              <div class="col-md-4">
                  <div class="position-relative form-group">
                    <label  class="">
                      Prénom
                    </label>
                    <input name="" id="" placeholder="ecire le prénom" type="" class="form-control"formControlName="prenom">
                  </div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label  class="">
                    Matricule CNI<span style="color: red;">*</span>
                  </label>
                  <input name="zip" placeholder="ecrire le matricule present sur la CNI" type="text" class="form-control" formControlName="matricule"></div>
                  <span *ngIf=" (submitted || formEmployer.controls.matricule.touched) && formEmployer.controls.matricule.errors "   style="color:red">  le matricule est requis   </span>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleAddress" class="">
                Addresse
              </label>
              <input name="address" id="exampleAddress" placeholder="" type="text" class="form-control" formControlName="adresse">

            </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="country" class="">
                    Nationalité
                  </label>
                  <input name="" id="country" placeholder="" type="country" class="form-control" formControlName="nationalite">
                </div>
            </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="phone" class="">
              Numéro
            </label>
            <input name="phone" id="phone" placeholder="" type="tel" class="form-control" formControlName="numero">
          </div>
          </div>
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  Sexe
                </label>
                <select name="select" placeholder=""  id="exampleSelect" type="text" class="form-control" formControlName="sexe" style="width: 100%; height: 2.4rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
                  <option value=""></option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>

              </div>
          </div>
      </div>

          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label class="">
                    Date de naissance
                  </label>
                  <input type="date" class="form-control"  placeholder="" formControlName="date_naissance"></div>
            </div>

            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="exampleState" class="">
                    Lieu de naissance
                  </label>
                  <input name="state" id="exampleState" type="text" class="form-control" placeholder="" formControlName="lieu_naissance"></div>
            </div>
        </div>

          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="" class="">
                   Statut Matrimonial
                  </label>
                  <input name="" id="" placeholder="ex:marié" type="" class="form-control" formControlName="statut_matrimoniale"></div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="examplePassword11" class="">
                    Nombre d'enfant
                  </label>
                  <input name="" id="" placeholder="" type="number" class="form-control" formControlName="nbr_enfant">
                </div>
            </div>
        </div>

<br><br>
          <h3 class="card-title">Informations professionnelles</h3>

          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="" class="">
               Poste<span style="color: red;">*</span>
                  </label>
                  <input name="" id="" placeholder="poste que occupe l'employé présentement au sein de l'entreprise" type="" class="form-control" formControlName="poste">
                  <span *ngIf=" (submitted || formEmployer.controls.poste.touched) && formEmployer.controls.poste.errors "   style="color:red">  le poste est requis   </span>
                </div>
            </div>

            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
             Profession<span style="color: red;">*</span>
                </label>
                <input placeholder="profession premeiere de l'employé " type="" class="form-control" formControlName="profession">
                <span *ngIf=" (submitted || formEmployer.controls.profession.touched) && formEmployer.controls.profession.errors "   style="color:red">  la profession est requise   </span>
              </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="examplePassword11" class="">
                 ville d'exertion<span style="color: red;">*</span>
                </label>
                <input name="address" id="" placeholder="" type="text" class="form-control" formControlName="ville_exertion">
                <span *ngIf=" (submitted || formEmployer.controls.ville_exertion.touched) && formEmployer.controls.ville_exertion.errors "   style="color:red">  la ville d'exertion est requise   </span>
              </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="" class="">
                Statut<span style="color: red;">*</span>
              </label>
              <select name="select" placeholder=""  id="exampleSelect" type="text" class="" formControlName="statut" style="width: 100%; height: 2.4rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
                <option value=""></option>
                <option  value="ACTIF">Actif</option>
                <option  value="INACTIF">Inactif</option>
              </select>
              <!-- <span *ngIf=" (submitted || formEmployer.controls.statut.touched) && formEmployer.controls.statut.errors " style="color:red">  le statut est requis  </span> -->
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
            <div class="position-relative form-group">
              <label class="">
                Date de début
              </label>
              <input  type="date" class="form-control" formControlName="date_debut" ></div>
        </div>

        <div class="col-md-3">
          <div class="position-relative form-group">
            <label class="">
              Date de fin
            </label>
            <input type="date" class="form-control"  placeholder="" formControlName="date_fin"></div>
      </div>
      <div class="col-md-3">
        <div class="position-relative form-group">
          <label class="">
           photo
          </label>
          <input type="file" class="form-control" formControlName="photo">
        <!-- <file-upload class="form-control" type="file" ></file-upload> -->
        </div>
    </div>
    </div>
    <br><br>
          <h3 class="card-title">Informations Relatifs à la connexion</h3>

    <div class="form-row">
      <div class="col-md-6">
          <div  class="position-relative form-group">
            <label for="" class="">
         Nom et Prenom<span style="color: red;">*</span>
            </label>
            <input name="" id="" placeholder="nom ou surnom" type="" class="form-control" formControlName="username">
            <span *ngIf=" (submitted || formEmployer.controls.username.touched) && formEmployer.controls.username.errors "   style="color:red">  le pseudo est requis   </span>
          </div>
      </div>

      <div class="col-md-6">
        <div  class="position-relative form-group">
          <label for="" class="">
       Email<span style="color: red;">*</span>
          </label>
          <input type="email" placeholder="....@gmail.com" class="form-control" formControlName="email">
          <span *ngIf=" (submitted || formEmployer.controls.email.touched) && formEmployer.controls.email.errors "   style="color:red">  l'email est requis   </span>
        </div>
    </div>

      <div class="col-md-12">
        <div class="position-relative form-group">
          <label for="" class="">
       Mot de passe<span style="color: red;">*</span>
          </label>
          <input placeholder="plus de 8 characteres" type="" class="form-control" formControlName="password">
          <span *ngIf=" (submitted || formEmployer.controls.password.touched) && formEmployer.controls.password.errors "   style="color:red">  un mot de passe de 8 characterers est requis   </span>
        </div>
    </div>
  </div>
    <br>

    <button style="height: 3rem; width: 15%; float: right;" (click)="addEmployer()  "class="btn btn-success mr-2 mb-2 block-page-btn-example-2">
    Enregistrement
    </button>


<div *ngIf="isLoading" class="body-block-example-2 d-none" style="cursor: default;">
<div class="loader">
<div class="ball-pulse-sync">
<div class="bg-success"></div>
<div class="bg-success"></div>
<div class="bg-success"></div>
</div>
</div>
</div>
      </form>

  </div>
</div>
