<div class="container-fluid" >
  <nav aria-label="breadcrumb" style="margin-right: 2rem; width: 91%;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a  >Employés</a></li>
      <li class="breadcrumb-item"><a  style="color: blue;" (click)="goTi()" >Liste des employés </a></li>
      <li class="breadcrumb-item"><a  style="color: blue;">Enregistrement </a></li>
    </ol>
  </nav>
</div>
<div class="main-card mb-3 card" style="height: 60rem;">
  <div class="card-body"  >
    <div ><h1 class="card-title" style="font-size: 200%; color: rgb(81, 81, 230); " >Enregistrement des informations  d'un employé</h1></div>

    <br>
    <h3 class="card-title">Informations Personnelles</h3>
      <form class="" [formGroup]="formEmployer">
          <div class="form-row">
              <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label for="" class="">
                      Nom <span style="color: red;">*</span>
                    </label>
                    <input name="" id="" placeholder="écrire le nom" type="" class="form-control" formControlName="nom"></div>
                    <span *ngIf=" (submitted || formEmployer.controls.nom.touched) && formEmployer.controls.nom.errors "   style="color:red">  le nom est requis  </span>
              </div>
              <div class="col-md-4">
                  <div class="position-relative form-group">
                    <label  class="">
                      Prénom
                    </label>
                    <input name="" id="" placeholder="ecire le prénom" type="" class="form-control"formControlName="prenom">
                  </div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label  class="">
                    Matricule CNI<span style="color: red;">*</span>
                  </label>
                  <input name="zip"  type="text" class="form-control" formControlName="matricule"></div>
                  <span *ngIf=" (submitted || formEmployer.controls.matricule.touched) && formEmployer.controls.matricule.errors "   style="color:red">  le matricule est requis   </span>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleAddress" class="">
                Addresse
              </label>
              <input name="address" id="exampleAddress" placeholder="" type="text" class="form-control" formControlName="adresse">

            </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="country" class="">
                    Nationalité
                  </label>
                  <input name="" id="country" placeholder="" type="country" class="form-control" formControlName="nationalite">
                </div>
            </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="phone" class="">
              Numéro
            </label>
            <input name="phone" id="phone" placeholder="" type="tel" class="form-control" formControlName="numero">
          </div>
          </div>
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  Sexe
                </label>
                <select name="select" placeholder=""  id="exampleSelect" type="text" class="form-control" formControlName="sexe" style="width: 100%; height: 2.4rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
                  <option value=""></option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                  <option value="Autres">Autres</option>

                </select>

              </div>
          </div>
      </div>

          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label class="">
                    Date de naissance
                  </label>
                  <input type="date" class="form-control" data-toggle="datepicker-year" placeholder="" formControlName="date_naissance"></div>
            </div>

            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="exampleState" class="">
                    Lieu de naissance
                  </label>
                  <input name="state" id="exampleState" type="text" class="form-control" placeholder="" formControlName="lieu_naissance"></div>
            </div>
        </div>

          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="" class="">
                   Statut Matrimonial
                  </label>
                  <input name="" id="" placeholder="ex:marié" type="" class="form-control" formControlName="statut_matrimoniale"></div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="examplePassword11" class="">
                    Nombre d'enfant
                  </label>
                  <input name="" id="" placeholder="" type="number" class="form-control" formControlName="nbr_enfant">
                </div>
            </div>
        </div>

<br><br>
          <h3 class="card-title">Informations professionnelles</h3>

          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="" class="">
               Poste<span style="color: red;">*</span>
                  </label>
                  <input name="" id="" placeholder="" type="" class="form-control" formControlName="poste">
                  <span *ngIf=" (submitted || formEmployer.controls.poste.touched) && formEmployer.controls.poste.errors "   style="color:red">  le poste est requis   </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="examplePassword11" class="">
                   Type de contrat<span style="color: red;">*</span>
                  </label>
                  <select name="select" placeholder=""  id="exampleSelect" type="text" class="" formControlName="type_contrat" style="width: 100%; height: 2.4rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
                    <option value=""></option>
                    <option value="CDI">CDI</option>
                    <option value="CDD">CDD</option>
                    <option value="CTT">CTT</option>
                    <option value="ALTERNANCE">ALTERNANCE</option>
                  </select>
                  <span *ngIf=" (submitted || formEmployer.controls.type_contrat.touched) && formEmployer.controls.type_contrat.errors "   style="color:red">  le type de contrat avec l'entreprise est requis est requis   </span>
                </div>
            </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
             Profession<span style="color: red;">*</span>
                </label>
                <input name="" id="" placeholder="" type="" class="form-control" formControlName="profession">
                <span *ngIf=" (submitted || formEmployer.controls.profession.touched) && formEmployer.controls.profession.errors "   style="color:red">  la profession est requise   </span>
              </div>
          </div>
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="examplePassword11" class="">
                 ville d'exertion<span style="color: red;">*</span>
                </label>
                <input name="address" id="" placeholder="" type="text" class="form-control" formControlName="ville_exertion">
                <span *ngIf=" (submitted || formEmployer.controls.ville_exertion.touched) && formEmployer.controls.ville_exertion.errors "   style="color:red">  la ville d'exertion est requise   </span>
              </div>
          </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
            <div class="position-relative form-group">
              <label class="">
                Date de début
              </label>
              <input type="date" class="form-control"  placeholder="" formControlName="date_debut"></div>
        </div>

        <div class="col-md-3">
          <div class="position-relative form-group">
            <label class="">
              Date de fin
            </label>
            <input type="date" class="form-control"  placeholder="" formControlName="date_fin"></div>
      </div>
      <div class="col-md-3">
        <div class="position-relative form-group">
          <label class="">
           photo
          </label>
          <input name="file" id="exampleFile" type="file" class="form-control" formControlName="photo">
        </div>
    </div>
    </div>
    <br>

    <button style="height: 3rem; width: 15%; float: right;" (click)="addEmployer()  "class="btn btn-success mr-2 mb-2 block-page-btn-example-2">
    Enregistrement
    </button>


<div *ngIf="isLoading" class="body-block-example-2 d-none" style="cursor: default;">
<div class="loader">
<div class="ball-pulse-sync">
<div class="bg-success"></div>
<div class="bg-success"></div>
<div class="bg-success"></div>
</div>
</div>
</div>
      </form>

  </div>
</div>
