<h2 mat-dialog-title class="card-title" style="font-size: 200%; color: rgb(81, 81, 230); "  > Détail du congé ou de la permission de {{data?.employerResponseDTO.nom}}  </h2>
<hr>
<div class="mat-dialog-content" >
<div class="main-card " >

      <!-- <form class="mat-typography"  > -->
        <div  class="form-row">
              <div class="col-md-12">
                  <div class="position-relative form-group card-title">
                    <label  class="card-title" for="">Nom & Prénom</label>
                   <input type="text" class="form-control" disabled value="{{data?.employerResponseDTO.nom}} {{data?.employerResponseDTO.prenom}}">
                  </div>
              </div>
            </div>

          <div class="form-row">
            <div class="col-md-6">
              <div class="position-relative form-group card-title">
                <label  class="card-title">Type</label>
                <input type="text" class="form-control" disabled value="{{data?.type_conger}}">
              </div>
            </div>
              <div class="col-md-6">
                <div class="position-relative form-group card-title">
                  <label  class="card-title" for="">Jours </label>
                  <input type="text" class="form-control" disabled value="{{data?.jours}}">
                </div>
                </div>
      </div>
        <div class="form-row">
          <div class="col-md-6">
          <div class="position-relative form-group card-title">
            <label  class="card-title" for="">Jour de debut  </label>
            <input type="text" class="form-control" disabled value="{{data?.date_debut | date}}">
          </div>
          </div>

            <div class="col-md-3">
                <div  class="card-title">
                  <label class="card-title" for="">Jour de fin </label>
                  <input type="text" class="form-control" disabled value="{{data?.date_fin| date}}">
                </div>
            </div>

            <div class="col-md-3">
              <div  class="card-title">
                <label class="card-title" for="">Date de reprise </label>
                <input type="text" class="form-control" disabled value="{{data?.date_reprise| date}}">
              </div>
          </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <div  class="card-title">
              <label for="textarea">Description
              </label>
              <textarea type="text" class="form-control" disabled value="{{data?.description}}"> </textarea>
              </div>
              </div>
      <!-- </form> -->
  </div>


</div>
<mat-dialog-actions align="end">
  <button class="mb-2 mr-2 btn-icon btn btn-danger" mat-dialog-close>Fermé</button>
</mat-dialog-actions>






