<div class="container-fluid"  >
  <nav aria-label="breadcrumb" >
    <ol class="breadcrumb" style="width: 100%; " >
      <li class="breadcrumb-item"><a    >Employés</a></li>
      <li class="breadcrumb-item"><a (click)="goTi()" style="color: blue;">Liste des employés </a></li>
      <li class="breadcrumb-item"><a  style="color: blue;"> Détail de {{id?.nom}}</a></li>
    </ol>
  </nav>
</div>

<div class="container emp-profile">
  <form method="post">
      <div class="row">
          <div class="col-md-4">
            <mat-for-field>
              <div class="profile-img">
                  <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/> -->
                  <!-- {{id?.photo}} -->
                  <input matInput >
              </div>
            </mat-for-field>
          </div>
          <div class="col-md-6">
              <div class="profile-head">
                 <h5>
                   {{id?.nom}}
                  </h5>
                  <h6>
                    {{id?.poste}}
                  </h6>
                    <p class="proile-rating">Matricule : <span> {{id?.matricule}}</span></p>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informations Personelles</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Informations Profesionelles</a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- <div class="col-md-2">
              <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
          </div> -->
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="profile-work">
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex  align-items-center p-3">
                    <i class="fas fa-globe fa-lg text-warning"></i>
                    <p style="margin-left: 1rem;"  class="mb-0">https://{{id?.nom}}.com</p>
                  </li>
                  <li class="list-group-item d-flex  align-items-center p-3">
                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                    <p style="margin-left: 1rem;"  class="mb-0">{{id?.nom}}.github.com</p>
                  </li>
                  <li class="list-group-item d-flex  align-items-center p-3">
                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                    <p style="margin-left: 1rem;"  class="mb-0">@{{id?.nom}}</p>
                  </li>
                  <li class="list-group-item d-flex  align-items-center p-3">
                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                    <p style="margin-left: 1rem;"  class="mb-0">{{id?.nom}}.insta</p>
                  </li>
                  <li class="list-group-item d-flex  align-items-center p-3">
                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                    <p style="margin-left: 1rem;" class="mb-0">{{id?.nom}}.facebook</p>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Pseudo</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>  {{id?.nom}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Nom</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>  {{id?.nom}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <label>Prénom</label>
                                </div>
                                <div class="col-md-6">
                                    <p>  {{id?.prenom}}</p>
                                </div>
                            </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Nationalité</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{id?.nationalite}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Numéro</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{id?.numero}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>né le </label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{id?.date_naissance | date}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <label>à </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{id?.lieu_naissance }}</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <label>Statut Matrimoniale</label>
                              </div>
                              <div class="col-md-6">
                                  <p>{{id?.statut_matrimoniale }}</p>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <label>Adresse</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{id?.adresse }}</p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <label>Sexe</label>
                          </div>
                          <div class="col-md-6">
                              <p>{{id?.sexe }}</p>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <label>Nombre d'enfant</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{id?.nbr_enfant }}</p>
                        </div>
                    </div>

                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>poste</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{id?.poste }}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Profession</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{id?.profession}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Type de Contrat</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{id?.type_contrat}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Date de debut </label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{id?.date_debut | date}}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Date de fin</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{id?.date_fin | date}}</p>
                                  </div>
                              </div>

                  </div>
              </div>
          </div>
      </div>
  </form>
</div>

