<h2 mat-dialog-title  style="font-size: 200%; color: rgb(81, 81, 230); "> <b> Ajout d'une Formation</b></h2>
<hr>
<div class="mat-dialog-content" [formGroup]="formDemandeForm" >

<div class="main-card " >
   <div class="form-row">
     <div class="col-md-12">
       <div class="position-relative form-group ">
         <label   for="">Nom & Prénom<span style="color: red;">*</span></label>
          <select name="select" id="exampleSelect" class="" formControlName="id_Employer" style="width: 100%; height: 2.2rem; border-color: rgb(218, 215, 215); border-radius: 5px;"  >
             <option value= {{item?.id}} *ngFor="let item of employers" > {{item?.nom}} {{item?.prenom}}</option>
           </select>
            <span *ngIf=" (submitted || formDemandeForm.controls.id_Employer.touched) && formDemandeForm.controls.id_Employer.errors" style="color:red">le nom l'employé est requis  </span>
          </div>
        </div>
      </div>

        <div class="form-row">
          <div class="col-md-12">
            <div class="position-relative form-group ">
              <label   for="">La Formation Démandée<span style="color: red;">*</span></label>
              <select name="select" id="exampleSelect" class="" formControlName="id_Formation" style="width: 100%; height: 2.2rem; border-color: rgb(218, 215, 215); border-radius: 5px;"  >
                <option value= {{item?.id}} *ngFor="let item of formations" > {{item?.theme_form}}</option>
            </select>
            <span *ngIf=" (submitted || formDemandeForm.controls.id_Formation.touched) && formDemandeForm.controls.id_Formation.errors " style="color:red">le nom de la formation est requise  </span>
            </div>
         </div>
        </div>
        <div class="form-row">
      <div class="col-md-12">
        <div class="position-relative form-group ">
          <label  >Date de demande<span style="color: red;">*</span></label>
          <input  name="" id="" placeholder="" type="date" class="form-control" formControlName="date_demande">
<span *ngIf=" (submitted || formDemandeForm.controls.date_demande.touched) && formDemandeForm.controls.date_demande.errors" style="color:red">la date est requise </span>
        </div>
  </div>
</div>
<div class="form-row">
  <div class="col-md-12">
    <div  >
      <label>
        Statut
      </label>
      <select  class="form-control" formControlName="statut" >
        <option value=""></option>
        <option  value="VALIDER">Valider</option>
        <option  value="EN ETUDE">en étude</option>
        <option value="REFUSER">Réfuser</option>
      </select>
    </div>
</div>
</div>
</div>
</div>

<mat-dialog-actions align="end">
  <button  mat-dialog-close class="mb-2 mr-2 btn-icon btn btn-success" (click)="addDemandeForm()"   class="btn btn-success mr-2 mb-2 block-page-btn-example-2">
    Enregistrement
    </button>
  <button class="mb-2 mr-2 btn-icon btn btn-danger" mat-dialog-close>Fermer</button>
</mat-dialog-actions>
