
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a >Contrats</a></li>
      <li class="breadcrumb-item"><a (click)="goTi()" style="color: rgb(43, 113, 252);">Liste des Contrats </a></li>
      <li class="breadcrumb-item"><a  style="color: rgb(43, 113, 252);">Editions d'un contrat</a></li>
    </ol>
  </nav>
</div>
<div class="main-card mb-3 card" style="height: 50rem;">
  <div class="card-body">
    <div ><h1 class="" style="font-size: 200%; color: rgb(81, 81, 230); "> <b>Edition du contrat d'un Employé</b></h1></div>
    <hr>
    <br>

      <form class="" [formGroup]="formContrat">
          <div class="form-row">
              <div class="col-md-12">
                  <div class="position-relative form-group">
                    <label  class="select">
                      Nom & Prénom
                    </label>
                    <select name="select" id="exampleSelect" class="" formControlName="id_Employer" style="width: 100%; height: 2.2rem; border-color: rgb(218, 215, 215); border-radius: 5px;"  >
                      <option value= {{item?.id}} *ngFor="let item of employers" > {{item?.nom}} {{item?.prenom}}</option>
                  </select>
                  <!-- <span *ngIf=" (submitted || formContrat.controls.id_Employer.touched) && formContrat.controls.id_Employer.errors "style="color:red">le nom l'employé est requis  </span> -->
                  </div>
              </div>

          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  type de contrat<span style="color: red;">*</span>
                </label>
                <select name="select" placeholder=""  id="exampleSelect" type="text" class="" formControlName="type_contrat" style="width: 100%; height: 2.4rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
                  <option value=""></option>
                  <option value="CDI">CDI</option>
                  <option value="CDD">CDD</option>
                  <option value="CTT">CTT</option>
                  <option value="ALTERNANCE">ALTERNANCE</option>
                </select>
 <!-- <span *ngIf=" (submitted || formContrat.controls.type_contrat.touched) && formContrat.controls.type_contrat.errors "style="color:red">le nom l'employé est requis  </span> -->
              </div>
          </div>

            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="country" class="">
                    lieu de recrutement<span style="color: red;">*</span>
                  </label>
                  <input name="" id="country" placeholder="" type="country" class="form-control" formControlName="lieu_recrutememnt">
                  <!-- <span *ngIf=" (submitted || formContrat.controls.lieu_recrutememnt.touched) && formContrat.controls.lieu_recrutememnt.errors "   style="color:red">  le lieu de recrutement de l'employé est requis  </span> -->
                </div>
            </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="" class="">
              date d'embauche <span style="color: red;">*</span>
            </label>
            <input name="" id="" placeholder="" type="date" class="form-control" formControlName="date_embauche">
            <!-- <span *ngIf=" (submitted || formContrat.controls.date_embauche.touched) && formContrat.controls.date_embauche.errors "   style="color:red">  la date d'embauche de l'employé est requis  </span> -->
          </div>
          </div>
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  Periode d'essaie<span style="color: red;">*</span>
                </label>
                <input name="" id="" placeholder="2 mois commençants du .. au .. " type="text" class="form-control" formControlName="periode_essaie">
                <!-- <span *ngIf=" (submitted || formContrat.controls.periode_essaie.touched) && formContrat.controls.periode_essaie.errors "   style="color:red">  la periode d'essaie de l'employé est requis  </span> -->
              </div>

          </div>
      </div>
          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label class="">
                    Debut du contrat
                  </label>
                  <input type="date" class="form-control"  placeholder="" formControlName="debut_periode_essaie">
                  <!-- <span *ngIf=" (submitted || formContrat.controls.debut_periode_essaie.touched) && formContrat.controls.debut_periode_essaie.errors "   style="color:red">  cette date est requise  </span> -->
                </div>

            </div>

            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="" class="">
                    fin du contrat
                  </label>
                  <input name="" id="" type="date" class="form-control" placeholder="" formControlName="fin_periode_essaie">
                  <!-- <span *ngIf=" (submitted || formContrat.controls.fin_periode_essaie.touched) && formContrat.controls.fin_periode_essaie.errors "   style="color:red">  cette date est requise  </span> -->
                </div>

            </div>
        </div>

          <div class="form-row">

            <div class="col-md-6">
              <div class="position-relative form-group">
                <label  class="">
                  poste<span style="color: red;">*</span>
                </label>
                <input name="" id="exampleAddress" placeholder="" type="text" class="form-control" formControlName="poste">
                <!-- <span *ngIf=" (submitted || formContrat.controls.poste.touched) && formContrat.controls.poste.errors "   style="color:red">  le poste est requis  </span> -->

              </div>
              </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label class="exampleAddress">
                    lieu de travail<span style="color: red;">*</span>
                  </label>
                  <input name="Address" id="address" placeholder="" type="text" class="form-control" formControlName="lieu_travail">
                  <!-- <span *ngIf=" (submitted || formContrat.controls.lieu_travail.touched) && formContrat.controls.lieu_travail.errors "   style="color:red"> le lieu de travail est requis  </span> -->
                </div>
            </div>
        </div>
         <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="" class="">
                    Salaire brut<span style="color: red;">*</span>
                  </label>
                  <input name="" id="" placeholder="" type="" class="form-control" formControlName="salaire_brut">
                  <!-- <span *ngIf=" (submitted || formContrat.controls.salaire_brut.touched) && formContrat.controls.salaire_brut.errors " style="color:red">  le salaire est requis  </span> -->
                </div>
            </div>

            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  Statut
                </label>
                <select name="select" placeholder=""  id="exampleSelect" type="text" class="" formControlName="statut" style="width: 100%; height: 2.4rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
                  <option value=""></option>
                  <option  value="EN COURS">Valider</option>
                  <option  value="TERMINER">TERMINER</option>
                  <option value="SUSPENDU">Supendu</option>
                </select>
                <!-- <span *ngIf=" (submitted || formContrat.controls.statut.touched) && formContrat.controls.statut.errors " style="color:red">  le salaire est requis  </span> -->
              </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="" class="">
                  Liste des Diplomes<span style="color: red;">*</span>
                </label>
                <textarea rows="1" class="form-control autosize-input" style="height: 37px;" formControlName="liste_diplo"></textarea>
                <!-- <span *ngIf=" (submitted || formContrat.controls.salaire_brut.touched) && formContrat.controls.salaire_brut.errors " style="color:red">  le salaire est requis  </span> -->
              </div>
          </div>

          <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="" class="">
                Documents liés  <span style="color: red;">*</span>
              </label>
              <input type="file" class="form-control" formControlName="document">
              <!-- <span *ngIf=" (submitted || formContrat.controls.statut.touched) && formContrat.controls.statut.errors " style="color:red">  le salaire est requis  </span> -->
            </div>
        </div>
      </div>
        <br>
    <button style="height: 3rem; width: 15%; float: right;  " (click)=" addContrat()" class="btn btn-success mr-2 mb-2 block-page-btn-example-2">
    Enregistrement
    </button>
<div *ngIf="" class="body-block-example-2 d-none" style="cursor: default;">
<div class="loader">
<div class="ball-pulse-sync">
<div class="bg-success"></div>
<div class="bg-success"></div>
<div class="bg-success"></div>
</div>
</div>
</div>
      </form>
  </div>
</div>

